In [1]:
#pip install pandas

In [2]:
import requests
import pandas as pd

In [3]:
data = requests.get('https://oikotie-helsinki-restapi.herokuapp.com/').json()
df = pd.DataFrame.from_dict(data)
df.head(10)

,Asuinpinta-ala,Hoitovastike,Huoneita,Kaupunginosa,Velaton hinta,Yhtiövastike,osoite,status
0,72.5,288.55,3,Alppikylä,295250,431.92,Hevosmiehenkuja 1-3 A6,Inactive
1,23.5,160.98,1,Pasila,193000,244.68,Kollikatu 2 B 40,Inactive
2,116.0,494.70,6,Mellunkylä,299000,874.70,Kaarikuja 1,Inactive
3,43.5,206.63,2,Mellunkylä,135000,206.63,Kypäräpolku 2 E,Inactive
4,48.0,163.20,1,Kruunuhaka,459000,163.20,Pohjoisranta 8 E,Inactive
5,69.6,510.64,3,Punavuori,570000,571.16,Ratakatu 5 A,Inactive
6,54.5,201.65,2,Ullanlinna,450000,365.15,Laivurinkatu 35,Inactive
7,130.0,559,4,Etu-Töölö,1040000,559,Väinämöisenkatu 15 a,Inactive
8,98.0,NaN,4,Malmi,53438,NaN,Pilvenpyörteentie 13 D 22,Inactive
9,101.0,150,4,Jakomäki,379000,150,Vanhapolku 3 A,Inactive